*{
		margin: 0;
		padding: 0;
		list-style: none;
}
.h1, .h2, .h3, h1, h2, h3{
	margin: 0;
}
p{
	margin: 0;
}
body{
	background: #f1f1f1;
}

/* 头部固定 */
h1{
	width: 100%;
	height:60px;
	text-align: center;
	line-height: 60px;
	background:#3495FB;
	position: fixed;
	top: 0;
	color:#fff;
}


/* 底部固定 */
footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background: #ffffff;
	border-top: 1px #999999 solid; 
	z-index: 99999;
}
footer ul{
	width: 100%;
	height: 50px;
	display: flex;
	padding: 5px 0;
}
footer ul li{
	justify-content: center;
	flex: 1;
	text-align: center;
	font-size:18px;
	color:#999999;
}

/* 四个页面 */
#div1,#div2,#div3,#div4{
	background: #f1f1f1;
	display: none;
}
.active{
	color:#0F85FB;
}

/* 主页面--公告页面 */
.myInput{
	padding: 5px;
}
.aaaa{
	height: 60px;
}


.list-item{
	clear: both;
	height: 80px;
	background: #fff;
	padding: 10px;
	margin-bottom:5px; 
}
.list-item div:nth-child(1){
	width: 60px;
	height: 60px;
	background:#57B648;
	line-height: 60px;
	text-align: center;
	font-size:30px;
	float: left;
	margin-right: 10px;
	color:#fff;
	border-radius: 5px;
}
.list-item div:nth-child(2){
	width: 65%;
	float: left;
}
.list-item div:nth-child(2) p{
	overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2; 
	margin-bottom: 5px;
}
.list-item div:nth-child(3){
	line-height: 60px;
	font-size: 16px;
	float: right;
}
.img{
	width:40px;
	height: 40px;
	overflow:hidden;
	position: fixed;
	bottom:100px;
	right:40px;
	background: url(../img/2.png);
	display: none;
}
.xq{
	width: 100%;
	height:100vh;
	position: fixed;
	top:0;
	left: 0;
	background: #fff;
	z-index: 999999;
	display: none;
}
.xq p{
	font-size:24px;
	text-indent: 2em;
	margin-bottom: 20px;
	padding: 10px;
}
.xq span{
	float: right;
	padding-right: 30px;
	color: #0F85FB;
	font-size: 16px;
}
.xq div{
	clear: both;
	/*margin-right: 50px;*/
}
.xq div:nth-child(2){
	float: right;
}
.xq .name{
    width: 100%;
    text-align: end;
	padding-right: 70px;
	font-size: 20px;
	color: #0F85FB;
}
#back{
	position: fixed;
	top: 0;
	left:10px;
	z-index: 897979466;

	height: 60px;
	line-height: 60px;
}
#back img{
	width:20px;
	
}


/* 主页面--首页页面 */
main #div1 .sy{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

main #div1 .sy div{
	width: 23%;
	height: 95px;
	margin-top: 15px;
	color: #fff;
}

main #div1 .sy div h4{
	font-size: 24px;
}

main #div1 .sy .div1{
	background: #0379FB;
	border-radius: 10px;
	text-align: center;
	padding-top: 10px;
}

main #div1 .sy .div2{
	background: #FCD333;
	border-radius: 10px;
	text-align: center;
	padding-top: 10px;
}

main #div1 .sy .div3{
	background: #E74B44;
	border-radius: 10px;
	text-align: center;
	padding-top: 10px;
}

main #div1 .sy .div4{
	background: #57B648;
	border-radius: 10px;
	text-align: center;
	padding-top: 10px;
}

main #div1 .sy .div5{
	background: #ED6FBB;
	border-radius: 10px;
	text-align: center;
	padding-top: 10px;
}

main #div1 .sy .div6{
	background: #E38830;
	border-radius: 10px;
	text-align: center;
	padding-top: 10px;
}

main #div1 .sy .div7{
	background: pink;
	border-radius: 10px;
	text-align: center;
	padding-top: 10px;
	opacity: 0;
}

main #div1 .sy .div8{
	background: brown;
	border-radius: 10px;
	text-align: center;
	padding-top: 10px;
	opacity: 0;
}

/*首页页面--增加弹出框*/

main #sy-add{
	width: 100%;
	height: 100vh;
	background: #fff;
	position: fixed;
	top: 0;
	margin:0; 
	display: none;
}

/*首页页面--增加弹出框--头部*/

main #sy-add header{
	width: 100%;
	height: 60px;
	background: #3495FB;
	text-align: center;
	position: relative;
}

main #sy-add header p{
	font-size: 36px;
	color: #fff;
	position: absolute;
	left: 5%;
	margin:0; 
	line-height: 60px;
}

main #sy-add header h2{
	margin:0;
	line-height: 60px;
	color: #fff;
}

/*首页页面--增加弹出框--主体*/
main #sy-add #sylist{
	width: 100%;
	height: 80px;
	border:1px solid #ccc;
	display: flex;
	justify-content: space-around;
	font-size: 18px;
	padding-top: 10px;
}

main #sy-add #sylist div:nth-child(1){
	width: 60px;
	height: 60px;
	background: blue;
	color: #fff;
	text-align: center;
	line-height: 60px;
	font-size: 26px;
}

main #sy-add #sylist div:nth-child(2){
	width: 35%;
	height: 80px;
	color: #000;
	font-size: 22px;
	margin-top: 5px;
}

	main #sy-add #sylist div:nth-child(2) p:nth-child(2){
		font-size: 18px;
		color:#999;
	}

main #sy-add #sylist div:nth-child(3){
	width: 35%;
	height: 80px;
	margin-top: 10px;
	color:#7ECDFC;
}

/* 中间部分--管理 */

main #div3 .gl>p{
	width: 100%;
	height: 40px;
	background:#fff; 
	margin-bottom: 2px;
	text-align: left;
	line-height: 40px;
	font-size: 18px;
}

main #div3 .gl p span{
	margin-left: 10px;
}

main #div3 .gl .header{
	margin-top: 50px;
}

main #div3 .gl .footer{
	margin-top: 50px;
}

/*管理页面--增加弹出框*/
main #div3 #add-ym{
	width: 100%;
	height: 100vh;
	background:#fff; 
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}

/*管理页面--增加弹出框--头部*/
main #div3 #add-ym header{
	width: 100%;
	height: 60px;
	background: #3495FB;
	text-align: center;
	position: relative;
}

main #div3 #add-ym header p{
	font-size: 36px;
	color: #fff;
	position: absolute;
	left: 5%;
	margin:0; 
	line-height: 60px;
}

main #div3 #add-ym header h2{
	margin:0;
	line-height: 60px;
	color: #fff;
}

/*管理页面--增加弹出框--中间*/

main #div3 #add-ym main p{
	width: 80%;
	height: 40px;
	margin-left: 10%;
	font-size: 18px;
	line-height: 40px;
	margin-top: 10px;
}

main #div3 #add-ym main p input{
	border:1px solid #ccc;
	border-radius:5px; ;
	width: 70%;
	height: 100%;
	float: right;
	margin-right: 30px;
}

main #div3 #add-ym main p:nth-child(1){
	margin-top:50px; 
}

/* 表单下面的按钮组 */
main #div3 #add-ym main .btn-1{
	width: 70%;
	margin-left: 15%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 20px;
}

main #div3 #add-ym main .btn-1>div{
	width: 30%;
	height: 40px;
	border:1px solid #ccc; 
	border-radius: 5px;
	margin-top:10px; 
	font-size: 18px;
	line-height: 40px;
	text-align: center;
}

main #div3 #add-ym main .btn-2{
	width: 70%;
	margin-left: 15%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 40px;
}

main #div3 #add-ym main .btn-2>div{
	width: 30%;
	height: 40px;
	border:1px solid #ccc; 
	border-radius: 5px;
	margin-top:10px; 
	font-size: 18px;
	line-height: 40px;
	text-align: center;
}

.actives{
	background-color: #5AC1FC;
	color: #fff;
}

/* 创建用户按钮 */
main #div3 #add-ym main button{
	width: 60%;
	margin-left: 20%;
	height: 40px;
	border:2px solid #9FCCFC;
	border-radius:5px;
	margin-top: 40px;
	background-color: #fff;
	color: black;
	font-size: 18px;
}
